<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin http://127.0.0.1:5500/FormRegistro/formulario.html"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Origin "*"

</IfModule>


Options -MultiViews
RewriteEngine On 
RewriteCond ${REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]